<div class="container">
    <p class="text-center display-4">Templates are Awesome</p>

<div class="row">
    {{#each posts}}
    <div class="col-sm-4 col-md-3">
    <div class="card">
        <img src="{{this.image}}">
        <div class="card-header">
            <h3 class="text-center"> {{ uppercase this }}</h3>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4 class="text-center">{{this.title}}</h4>
            </div>
            {{#if this.comments}}
            <ul class="list-group">
                {{#each this.comments}}
                    <li class="list-group-item">
                        {{ this }}
                    </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="text-center">Be the first to comment on this post</p>
            {{/if}}
        </div>
    </div>
    </div>
    {{/each}}
</div>


</div>